html,
body {
    position: fixed;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    background-color: #333333;
    width: 100%;
    height: auto;
    margin: 0;
}

* {
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
}

#textarea {
    text-align: left;
    position: relative;
    margin: 20px auto;
    width: 300px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: lightgray;
    font-size: 16px;
}

.input-container {
    position: relative;
    margin: auto;
    height: 300px;
    width: 360px;
    text-align: center;
}

.slider {
    position: absolute;
    top: 48%;
    left: 50%;
    width: 250px;
    height: 5px;
    border-radius: 5px;
    background: #f4f4f4;
    outline: none;
    scroll-behavior: smooth;
    transform: rotate(90deg);
    appearance: none;
    -webkit-appearance: none;
    transition: opacity .2s;
    -webkit-transition: .2s;
    -webkit-overflow-scrolling: touch;
    -webkit-scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
}

.slider::-webkit-slider-thumb {
    position: static;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 30%;
    width: 24px;
    height: 24px;
    background: #0077c2;
    border-color: #42a5f5;
    border-width: 1px;
    cursor: pointer;
}

button {
    margin: 0;
    padding: 0;
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    text-align: center;
    font-size: 30px;
    font-family: "Lucida Console", Monaco, monospace;
    background-color: #42a5f5;
    border-color: #80d6ff;
    color: white;
    border-width: 2px;
}

#b0 {
    background-color: inherit;
    border-color: #80d6ff;
    top: 10%;
    left: 12%;
}

#b1 {
    top: 25%;
    left: 32%;
}

#b2 {
    top: 55%;
    left: 32%;
}

#b3 {
    top: 40%;
    left: 12%;
}

#b4 {
    top: 70%;
    left: 12%;
}

span {
    position: absolute;
    color: white;
    right: 24%;
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
}

#t0 {
    top: 26px;
}

#t1 {
    top: 64px;
}

#t2 {
    top: 101px;
}

#t3 {
    top: 139px;
}

#t4 {
    top: 176px;
}

#t5 {
    top: 214px;
}

#t6 {
    top: 244px;
}